ft_isalpha
ft_isdigit
ft_isalnum
ft_isascii
ft_isprint
ft_strlen
ft_memset
ft_bzero
ft_memcpy
ft_memmove
ft_strlcpy
ft_strlcat

ft_toupper
ft_tolower
ft_strchr
ft_strrchr
ft_strncmp
ft_memchr
ft_memcmp
ft_strnstr
ft_atoi
test.py
test.c
main
a.out
test
test2
ft_atoi_test
ft_calloc
ft_strdup

ft_substr
ft_strjoin
ft_strtrim
ft_split
ft_split_exam.c
ft_split_exam
ft_itoa
ft_strmapi
ft_striteri
ft_putchar_fd
ft_putstr_fd
ft_putendl_fd
ft_putnbr_fd

example_strmapi.c
example_strmapi
open_file.c
open_file
read_file.c
read_file
write_file
write_file.c
libft-war-machine
libftTester

ft_isalpha.o
ft_isdigit.o
ft_isalnum.o
ft_isascii.o
ft_isprint.o
ft_strlen.o
ft_memset.o
ft_bzero.o
ft_memcpy.o
ft_memmove.o
ft_strlcpy.o
ft_strlcat.o

ft_toupper.o
ft_tolower.o
ft_strchr.o
ft_strrchr.o
ft_strncmp.o
ft_memchr.o
ft_memcmp.o
ft_strnstr.o
ft_atoi.o
ft_atoi_test.o
ft_calloc.o
ft_strdup.o

ft_substr.o
ft_strjoin.o
ft_strtrim.o
ft_split.o
ft_itoa.o
ft_strmapi.o
ft_striteri.o
ft_putchar_fd.o
ft_putstr_fd.o
ft_putendl_fd.o
ft_putnbr_fd.o
libft.a
